<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
<div class="w-25 container mt-5">
    <h2 class="mb-4">Reset Password</h2>
    <form th:action="@{/auth/resetPassword}" method="post" class="needs-validation" novalidate>
        <input type="hidden" name="token" th:value="${token}">

        <div class="mb-3">
            <label for="password" class="form-label">New Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
            <div class="invalid-feedback">
                Please enter a new password.
            </div>
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm New Password:</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
            <div class="invalid-feedback">
                Please confirm your new password.
            </div>
        </div>
        <div class="d-flex justify-content-end">

        <button type="submit" class="btn btn-primary mx-3">Reset Password</button>
        <a th:href="@{/auth/login}" class="btn btn-dark">Cancel</a>
        </div>

    </form>
</div>



</body>
</html>
