<div class="container mt-4" th:fragment="lesson-cards">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h3>Lessons</h3>
    <a th:if="${isAdmin}" class="text-success text-decoration-none" th:href="@{/courses/{id}/lessons/add(id=${course.courseId})}">
      <i class="fas fa-plus"></i> Add New Lesson
    </a>
  </div>
  <div th:if="${not #lists.isEmpty(course.lessons)}">
    <ul class="list-group">
      <li class="list-group-item" th:each="lesson : ${course.lessons}">
        <div class="d-flex justify-content-between align-items-center">
          <div class="me-auto d-flex align-items-center">
            <span class="fw-bold" th:text="${lesson.name}">Lesson Name </span>
            <span class="me-1">:</span>
            <span th:text="${lesson.description}">Lesson Description</span>
          </div>
          <a th:href="@{/courses/{courseId}/lessons/{lessonId}(courseId=${course.courseId}, lessonId=${lesson.id})}" class="btn btn-success btn-sm me-2">View</a>
          <form th:action="@{/courses/{courseId}/delete/{lessonId}(courseId=${course.courseId}, lessonId=${lesson.id})}" method="post" onsubmit="return confirm('Are you sure?')">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>


        </div>
      </li>
    </ul>
  </div>
  <div th:unless="${not #lists.isEmpty(course.lessons)}">
    <p>No lessons available for this course.</p>
  </div>
</div>
