<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout.html}">
<head>
    <title>Add Question</title>
=</head>
<body>
<div layout:fragment="content" class="container mt-4">
    <h2>Add New Question</h2>
    <form th:action="@{/courses/{courseId}/lessons/{lessonId}/add-question(courseId=${course.courseId}, lessonId=${lesson.id})}" th:object="${question}" method="post">
        <div class="mb-3">
            <label for="content" class="form-label">Question:</label>
            <input type="text" id="content" name="content" th:value="*{content}" required class="form-control"/>
        </div>
        <div id="optionsContainer">
            <!-- Options sẽ được thêm vào đây thông qua JavaScript -->
        </div>
        <div class="mb-3">
            <button type="button" id="addOption" class="btn btn-primary">Add Option</button>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
    <script th:src="@{/js/question/create-question.js}"></script>

</div>
</body>
</html>
