<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <style th:unless="${isAdmin}">


        .image {
            height: 140px;
            object-fit: cover;
        }

        .title {
            height: 2.4em; /* Điều chỉnh chiều cao tiêu đề */
        }

        a {
            font-size: 18px;
            color: #0056b3;
            text-decoration: none;

        }

        a:hover {
            color: #007bff
        }

        .min {
            max-width: 1240px; /* Giới hạn chiều rộng tối đa của container */
        }

        .two-line-clamp {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 3em; /* Điều chỉnh chiều cao để hiển thị đúng 2 dòng */
            text-overflow: ellipsis;
            font-size: smaller;

        }
    </style>
    <style th:if="${isAdmin}">
        .image {
            width: 100px; /* Điều chỉnh lại kích thước ảnh cho phù hợp với bảng */
            height: 50px; /* Giảm chiều cao ảnh */
            object-fit: cover;
        }
        .two-line-clamp {
            max-width: 200px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container min mt-3">
        <h3 class="text-center">Available Courses</h3>
        <div>
            <a href="/courses/create" class="btn btn-primary mb-3">Add New Course</a>
        </div>

        <form action="/courses/all" method="get" class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="keyword" placeholder="Search for courses..."
                       th:value="${keyword}">
                <select class="form-select mx-3" name="levelId">
                    <option value="">All Level</option>
                    <th:block th:each="level : ${allLevels}">
                        <option th:value="${level.levelId}" th:selected="${levelId == level.levelId}"
                                th:text="${level.levelName}"></option>
                    </th:block>
                </select>
                <select class="form-select " name="topicId">
                    <option value="">All Topic</option>
                    <th:block th:each="topic : ${allTopics}">
                        <option th:value="${topic.topicId}" th:selected="${topicId == topic.topicId}"
                                th:text="${topic.topicName}"></option>
                    </th:block>
                </select>
                <input type="hidden" name="size" th:value="${size}">
                <button type="submit" class="btn btn-primary mx-3">Lọc</button>
            </div>
        </form>

        <form action="/courses/all" method="get" class="mb-3 w-25">
            <div class="form-group">
                <label for="pageSize">Items per page:</label>
                <select name="size" id="pageSize" class="form-select" onchange="this.form.submit()">
                    <option value="8" th:selected="${size == 8}">8</option>
                    <option value="12" th:selected="${size == 12}">12</option>
                    <option value="16" th:selected="${size == 16}">16</option>
                    <option value="20" th:selected="${size == 20}">20</option>
                </select>
            </div>
            <input type="hidden" name="page" value="0">
            <input type="hidden" name="levelId" th:value="${levelId}">
            <input type="hidden" name="topicId" th:value="${topicId}"><!-- Reset về trang đầu tiên khi thay đổi size -->
        </form>
        <th:block th:if="${!isAdmin}">
            <div th:replace="course-fragments/course-cards :: course-cards(courses=${courses})"></div>
        </th:block>

        <th:block th:if="${isAdmin}">
            <div th:replace="course-fragments/course-table :: course-table(courses=${courses})"></div>
        </th:block>


        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${courses.isFirst() ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/courses/all(page=0, size=${courses.size}, keyword=${keyword}, topicId=${topicId}, levelId=${levelId})}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${courses.hasPrevious() ? '' : 'disabled'}">
                            <a class="page-link"
                               th:href="@{/courses/all(page=${courses.number - 1}, size=${courses.size}, keyword=${keyword}, topicId=${topicId}, levelId=${levelId})}">Previous</a>
                        </li>

                        <!-- Xác định phạm vi bắt đầu và kết thúc cho phân trang -->
                        <th:block th:with="start=${T(java.lang.Math).max(courses.number - 2, 0)},
                        end=${T(java.lang.Math).min(courses.number + 2, courses.totalPages - 1)}">

                            <!-- Hiển thị dấu ba chấm nếu có trang trước phạm vi bắt đầu -->
                            <li th:if="${start > 0}" class="page-item disabled">
                                <span class="page-link bg-light">...</span>
                            </li>

                            <!-- Lặp qua các trang trong phạm vi bắt đầu và kết thúc -->
                            <li th:each="i : ${#numbers.sequence(start, end)}" class="page-item" th:classappend="${i == courses.number} ? 'active' : ''">
                                <a class="page-link" th:href="@{/courses/all(page=${i}, size=${courses.size}, keyword=${keyword}, topicId=${topicId}, levelId=${levelId})}" th:text="${i + 1}">Số Trang</a>
                            </li>

                            <!-- Hiển thị dấu ba chấm nếu có trang sau phạm vi kết thúc -->
                            <li th:if="${end < courses.totalPages - 1}" class="page-item disabled">
                                <span class="page-link bg-light">...</span>
                            </li>
                        </th:block>

                        <li class="page-item" th:classappend="${courses.hasNext() ? '' : 'disabled'}">
                            <a class="page-link"
                               th:href="@{/courses/all(page=${courses.number + 1}, size=${courses.size}, keyword=${keyword}, topicId=${topicId}, levelId=${levelId})}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${courses.isLast() ? 'disabled' : ''}">
                            <a class="page-link"
                               th:href="@{/courses/all(page=${courses.totalPages - 1}, size=${courses.size}, keyword=${keyword}, topicId=${topicId}, levelId=${levelId})}">Last</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col text-center">
                    <form id="goToPageForm" th:action="@{/courses/all}" method="get" class="d-flex justify-content-center">
                        <input type="hidden" name="size" th:value="${courses.size}" />
                        <input type="hidden" name="keyword" th:value="${keyword}" />
                        <input type="hidden" name="topicId" th:value="${topicId}" />
                        <input type="hidden" name="levelId" th:value="${levelId}" />
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="goToPage" class="sr-only">Go to page</label>
                            <input type="number" class="form-control" id="goToPage" name="page" min="1" max="${courses.totalPages}" placeholder="Page #" required>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Go</button>
                    </form>
                </div>
            </div>




        </div>

    </div>
    <script>

        $(document).ready(function() {
            $('#goToPageForm').on('submit', function(e) {
                var page = parseInt($('#goToPage').val());
                if (page > 1) {
                    $('#goToPage').val(page - 1);
                } else {
                    $('#goToPage').val(0);
                }
            });
        });
    </script>
</div>

</body>
</html>
