<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Course Overview</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-4">
        <h1>Course Overview</h1>
        <div th:each="course : ${courses}">
            <div class="card mb-3">
                <h3 class="card-header" th:text="${course.courseName}">Course Name</h3>
                <div class="card-body">
                    <h5 class="card-title">Lessons</h5>
                    <div class="list-group">
                        <a th:each="lesson : ${course.lessons}"
                           th:href="@{/courses/{courseId}/lessons/{lessonId}(courseId=${course.courseId}, lessonId=${lesson.id})}"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" th:text="${lesson.name}">Lesson Title</h5>
                            </div>
                            <p class="mb-1" th:text="${lesson.description}">Lesson Description</p>
                        </a>
                    </div>
                    <a th:href="@{/courses/{id}/lessons/add(id=${course.courseId})}" class="btn btn-primary mt-3">
                        Add new lesson
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
