body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -60px; /* Bằng với chiều cao của footer */
}
.wrapper::after {
    content: '';
    display: block;
    height: 60px; /* Bằng với chiều cao của footer */
}
footer {
    padding-top: 20px;
    height: 60px; /* Chiều cao của footer */
    text-align: center;
    background-color: #f8f9fa;/* Căn giữa nội dung footer */
}