/* Style cho body của trang */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Style cho tiêu đề h2 */
h2 {
    color: #333;
    text-align: center;
    margin: 20px 0;
}

/* Style chung cho bảng */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

/* Style cho các ô của bảng */
table, th, td {
    border: 1px solid #ddd;
}

/* Style cho tiêu đề của các cột */
th {
    background-color: #f8f8f8;
    color: #333;
    padding: 10px;
}

/* Style cho các dòng của bảng */
td {
    padding: 10px;
    color: #666;
}

/* Style cho các liên kết */
a {
    color: #0275d8;
    text-decoration: none;
}

/* Thêm hiệu ứng khi rê chuột qua liên kết */
a:hover {
    text-decoration: underline;
}

/* Style cho nút thêm người dùng mới */
.add-new a{
    display: block;
    text-align: center;
    width: 200px;
    margin: 20px 20px 20px 100px;
 	border:1px solid #0275d8;
 	text-decoration: none;
}

.add-new-user:hover {
    background-color: #0056b3;
}
