<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .image {
            height: 200px;
            object-fit: cover;
        }
        .title {
            height: 2.4em; /* Điều chỉnh chiều cao tiêu đề */
        }

        .min {
            max-width: 1240px; /* Giới hạn chiều rộng tối đa của container */
        }

        .two-line-clamp {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 3em; /* Điều chỉnh chiều cao để hiển thị đúng 2 dòng */
            text-overflow: ellipsis;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="container min mt-3">
        <h3 class="text-center">Available Courses</h3>
        <div>
            <a href="/courses/create" class="btn btn-primary mb-3">Add New Course</a>
        </div>
        <form action="/courses/all" method="get">
            <div class="form-group">
                <label for="pageSize">Items per page:</label>
                <select name="size" id="pageSize" onchange="this.form.submit()">
                    <option value="8" th:selected="${size == 8}">8</option>
                    <option value="12" th:selected="${size == 12}">12</option>
                    <option value="16" th:selected="${size == 16}">16</option>
                    <option value="20" th:selected="${size == 20}">20</option>

                </select>
            </div>
            <input type="hidden" name="page" value="0"> <!-- Reset về trang đầu tiên khi thay đổi size -->
        </form>

        <div class="row">
            <div th:each="course, iterStat : ${courses}" class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card">
                    <img th:src="@{/image/{filename}(filename=${course.imagePath})}" class="card-img-top image" alt="Course Image">
                    <div class="card-body">
                        <h5 class="card-title title">
                            <a href="#" th:href="@{|/courses/${course.courseId}|}" th:text="${course.courseName}">Course Name</a>
                        </h5>
                        <p class="card-text two-line-clamp" data-bs-toggle="tooltip" data-bs-placement="left"
                           title="${course.courseDes}" th:text="${course.courseDes}">Description</p>
                        <div class="d-flex justify-content-between">
                            <p class="card-text"><small class="text-muted" th:text="${course.topicNames}">Topics</small>
                            </p>
                            <p class="card-text"><small class="text-muted" th:text="${course.levelNames}">Levels</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${courses.isFirst() ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/courses/all(page=0, size=${courses.size})}">First</a>
                        </li>
                        <li class="page-item" th:classappend="${courses.hasPrevious() ? '' : 'disabled'}">
                            <a class="page-link" th:href="@{/courses/all(page=${courses.number - 1}, size=${courses.size})}">Previous</a>
                        </li>
                        <li th:each="i : ${#numbers.sequence(0, courses.totalPages - 1)}" class="page-item"
                            th:classappend="${i == courses.number} ? 'active' : ''">
                            <a class="page-link" th:href="@{/courses/all(page=${i}, size=${courses.size})}" th:text="${i + 1}">Page Number</a>
                        </li>
                        <li class="page-item" th:classappend="${courses.hasNext() ? '' : 'disabled'}">
                            <a class="page-link" th:href="@{/courses/all(page=${courses.number + 1}, size=${courses.size})}">Next</a>
                        </li>
                        <li class="page-item" th:classappend="${courses.isLast() ? 'disabled' : ''}">
                            <a class="page-link" th:href="@{/courses/all(page=${courses.totalPages - 1}, size=${courses.size})}">Last</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })
</script>
</body>
</html>
