<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>

    <head>
        <meta charset="UTF-8">
        <title>Add Lesson</title>
    </head>
<body>
<div layout:fragment="content" class="container mt-4">

    <div th:if="${not #lists.isEmpty(course)}" class="mb-4">
        <h2>Add Lesson to: <span th:text="${course.courseName}"></span></h2>

        <form th:action="@{/courses/{courseId}/lessons/add(courseId=${course.courseId})}" th:object="${lesson}"
              method="post" class="needs-validation" novalidate id="form-add">
            <div class="form-group d-flex">
                <div class="col-6 me-1">
                    <label for="name">Lesson Name</label>
                    <input type="text" th:field="*{name}" name="name" class="form-control" id="name"
                           placeholder="Lesson Name" required>
                    <span th:if="${nameError}" class="text-danger" th:text="${nameError}"></span>

                </div>
                <div class="col-6 ms-1">
                    <label for="code">Lesson Code</label>
                    <input type="text" th:field="*{code}" name="code" class="form-control" id="code"
                           placeholder="Lesson Code" required>
                    <span th:if="${codeError}" class="text-danger" th:text="${codeError}"></span>

                </div>
            </div>
            <!--            <div class="form-group">-->
            <!--                -->
            <!--            </div>-->
            <div class="form-group">
                <label for="description">Lesson Description</label>
                <textarea th:field="*{description}" name="description" class="form-control" id="description"
                          placeholder="Lesson Description" rows="3" required></textarea>
                <span th:if="${desError}" class="text-danger" th:text="${desError}"></span>

            </div>
            <div class="form-group">
                <label for="quill-editor">Content</label>
                <div id="quill-editor" style="height: 200px;"></div>
                <input type="hidden" th:field="*{content}" id="content">
                <!-- Hiển thị thông báo lỗi cho trường content -->
                <span th:if="${contentError}" class="text-danger" th:text="${contentError}"></span>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary me-2 ">Add Lesson</button>
                <a th:href="@{/courses/{courseId}(courseId=${course.courseId})}" class="btn btn-secondary ">Back to Courses</a>
            </div>

        </form>

        <script th:src="@{/js/lesson/quill-create.js}"></script>

    </div>

    </script>

</div>

</body>

</html>