<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Edit Lesson</title>
    <!-- Thêm Quill CSS -->
</head>
<body>
<div layout:fragment="content" class="container mt-4">

    <div class="container mt-5" th:if="${not #lists.isEmpty(course)}">
        <h2>Edit Lesson for: <span th:text="${course.courseName}"></span></h2>

        <form th:action="@{/courses/{courseId}/lessons/{lessonId}(courseId=${course.courseId}, lessonId=${lesson.id})}"
              th:object="${lesson}" method="post" class="mt-4">
            <div class="form-group">
                <label for="name">Lesson Name</label>
                <input type="text" th:field="*{name}" name="name" class="form-control" id="name"
                       placeholder="Lesson Name">
            </div>

            <div class="form-group">
                <label for="code">Lesson Code</label>
                <input type="text" th:field="*{code}" name="code" class="form-control" id="code"
                       placeholder="Lesson Code">
            </div>
            <div class="form-group">
                <label for="code">Lesson description</label>
                <input type="text" th:field="*{description}" name="description" class="form-control" id="description"
                       placeholder="Lesson description">
            </div>

            <div class="form-group">
                <label for="content">Lesson content</label>
                <!-- Thay textarea bằng div cho Quill editor -->
                <div id="quill-editor" style="height: 200px;" th:utext="${lesson.content}"></div>
                <!-- Hidden input for description content -->
                <input type="hidden" th:field="*{content}" name="content" id="content">
            </div>
            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-primary mx-3">Update</button>
                <a th:href="@{/courses/{courseId}(courseId=${course.courseId})}" class="btn btn-secondary">Back </a>
            </div>


        </form>
    </div>

    <script th:inline="javascript">
        var successMessage = /*[[${success}]]*/ null;
    </script>
    <script src="/js/notify/success.js"></script>
    <!-- Thêm Quill JavaScript -->
    <script>

        var quill = new Quill('#quill-editor', {     // Khởi tạo trình soạn thảo Quill bằng jQuery
            theme: 'snow'
        });

        $('form').submit(function (event) {              // Sử dụng jQuery để lắng nghe sự kiện submit của biểu mẫu

            event.preventDefault();                     // Ngăn chặn hành vi mặc định của sự kiện submit
            var content = $('input[name=content]');     // Lấy nội dung của trình soạn thảo Quill bằng jQuery
            content.val(quill.root.innerHTML);          // Gán nội dung từ Quill vào trường input ẩn
            this.submit();                                  // Tiến hành gửi biểu mẫu nếu cần
        });
    </script>

</div>
</body>
</html>
