<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/course-table.css}">

</head>
<body>
<table th:fragment="course-table(courses)" class="table table-responsive table-bordered">
    <thead class="table-light">
    <tr>
        <th>Image</th>
        <th>Course Name</th>
        <th>Topics</th>
        <th>Levels</th>
        <th>List Lesson of course</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td class="align-middle">
            <img th:src="@{/image/{filename}(filename=${course.imagePath})}"
                 alt="Course Image" class="img-thumbnail" style="width: 100px; height: 65px; object-fit: cover;">
        </td>
        <td class="align-middle"><a th:href="@{/courses/{id}(id=${course.courseId})}" class="tag-a text-dark"
                                    th:text="${course.courseName}"></a></td>
        <td class="align-middle" th:text="${course.topicNames}">Topics</td>
        <td class="align-middle" th:text="${course.levelName}" th:attr="data-level=${course.levelName}"><span></span></td>
        <td class="align-middle">
            <div th:if="${not #lists.isEmpty(courseLessonsMap.get(course.courseId))}">
                <span th:text="${#lists.size(courseLessonsMap.get(course.courseId))} + ' lessons.'"></span>
                <ul class="list-group list-group-flush d-none" th:id=" ${course.courseId}">
                    <li th:each="lesson : ${courseLessonsMap.get(course.courseId)}"
                        class="list-group-item">
                        <span th:text="${lesson.name}">Lesson Name</span> -
                        <span th:text="${lesson.description}">Lesson Description</span>
                    </li>
                </ul>
                <a class="text-decoration-none" style="cursor: pointer" th:onclick="'toggleLessonList(' + ${course.courseId} + ')'">Show All</a>
            </div>
            <div th:unless="${not #lists.isEmpty(courseLessonsMap.get(course.courseId))}">
                <p>There are no lessons.</p>
            </div>
        </td>

        <td class="align-middle">
            <div class="d-flex justify-content-start">
                <a th:href="@{/courses/{id}(id=${course.courseId})}" class="btn btn-primary me-2">Edit</a>
                <form th:action="@{/courses/{id}/delete(id=${course.courseId})}" method="post" onsubmit="return confirm('Are you sure?')">
                    <button class="btn btn-danger" type="submit">Delete</button>
                    <input type="hidden" name="courseId" th:value="${course.courseId}"/>
                </form>
            </div>
        </td>
        <script th:src="@{/js/courses/course-table.js}"></script>

    </tr>

    </tbody>
</table>

</body>
</html>
